// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 $gray: #F4F4F4;

 body {
   background: $gray; // Using this variable
   display: flex;
   flex-direction: column;
   align-items: center;
 }

  .banner {
   background: red;
   h1 {
     font-size: 100px;
     display: flex;
     flex-direction: column;
   }
 }

  input {
   color: rgb(92, 92, 92);
   &:hover {
     color: black;
   }
 }

   p {
     font-family: sans-serif;
   }